:root {
  --color-text-main: rgba(255, 255, 255, 0.55);
  --color-blueish-purple: #5e42a6;
  --color-blue: #5052b5;
  --color-pink: #b74e91;
  --color-white: #fff;
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-family: source sans pro Arial, Helvetica, sans-serif;
}
